<html>
  <head>
    <title>{{ page_title -}}</title>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {{ 'product-container.css' | asset_url | stylesheet_tag }}
    {{ 'collection.css' | asset_url | stylesheet_tag }}
    {{ 'product.css' | asset_url | stylesheet_tag }}
    {{ 'cart.css' | asset_url | stylesheet_tag }}
    {{ 'contact-form.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
