<section class="product-details-sec">
  <div class="product-details-wrapper">
    <div class="product-details-right">
      <img src="{{ product.featured_image | image_url }}" width="550" height="450">
    </div>
    <div class="product-details-left">
      <h2 class="details-title">{{ product.title }}</h2>
      <p class="vendor-name">{{ product.vendor }}</p>
      <p class="details-description">{{ product.description }}</p>
      <p class="details-price">{{ product.price | money }}</p>
      <p class="details-tags">{{ product.tags }}</p>

      <!-- Stock availability -->
      {% if product.available == true %}
        <p class="in-stock">In Stock</p>
      {% else %}
        <p class="out-stock">Out Of Stock</p>
      {% endif %}

      {% form 'product', product %}
        <select name="id" class="size-selector">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% endfor %}
        </select>
        <button type="submit" class="addToCart-btn">Add to cart</button>
      {% endform %}
    </div>
  </div>
</section>
<style>
  .product-details-sec{
    background: {{ section.settings.background }};
    height: 100%;
    display: flex;
  }
</style>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fefdf8"
    }
  ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}
