<section class="cart-sec">
  {% form 'cart', cart %}
    <h2 class="cart-heading">Your Shopping Cart</h2>
    <div class="cart-container">
      {% if cart.empty? %}
        <div class="empty-cart">
          <h3 class="empty-cart-msg">Your cart is empty</h3>
          <p class="empty-cart-tagline">
            Looks like you have not added anything to your cart. Go ahead & explore top categories.
          </p>
          <button class="explore-btn"><a href="/collections/catalog">Explore our Collection</a></button>
        </div>
      {% else %}
        <div class="cart-wrapper">
          <div class="cart-items">
            {% for item in cart.items %}
              <div class="cart-item-info">
                <div class="cart-quantity-img">
                  <img src="{{ item.image|image_url }}" width="200" height="200">
                  <span>{{ item.quantity }}</span>
                </div>
                <h2>{{ item.title }}</h2>
                <p>{{ item.price | money }}</p>
                <button class="remove-btn"><a href="{{ item.url_to_remove }}">Remove</a></button>
              </div>
            {% endfor %}
          </div>
          <div class="subtotal">
            <p>
              <span>Total Quantity:</span>
              <span>{{ cart.item_count }}</span>
            </p>
            <p>
              <span>Total Price:</span>
              <span>{{ cart.total_price | money }}</span>
            </p>
            <button type="submit" name="checkout" class="checkout-btn">Checkout</button>
          </div>
        </div>
      {% endif %}
    </div>
  {% endform %}
</section>
<style>
  .cart-sec{
    background: {{ section.settings.background }};
  }
</style>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fefdf8"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Cart"
    }
  ]
}
{% endschema %}
